# .NET
.vs/
EduApoyos.API/bin/
EduApoyos.API/obj/
EduApoyos.Domain/bin/
EduApoyos.Domain/obj/
EduApoyos.Infraestructure/bin/
EduApoyos.Infraestructure/obj/
EduApoyos.Application/bin/
EduApoyos.Application/obj/
EduApoyos.Tests/obj/
EduApoyos.Tests/bin/

git 
# React / Node
Eduapoyos.Frontend/node_modules/
Eduapoyos.Frontend/build/
Eduapoyos.Frontend/coverage/
Eduapoyos.Frontend/.vscode/
EduApoyos.Frontend/obj/
EduApoyos.Frontend/bin/

